<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.dt*1000 | date:fullDate}}">
  <ion-content class="padding">
    <img ng-src="http://openweathermap.org/img/w/{{chat.weather[0].icon}}.png" style="width: 64px; height: 64px">
    <p>
      {{chat.weather[0].description}}
    </p>
    <p>
      {{chat.temp.min}}°/{{chat.temp.max}}°
    </p>
  </ion-content>
</ion-view>
